@import url(~normalize.css);
@font-face {
  font-family: "Roboto Regular";
  src: url("~@fonts/Roboto-Regular.ttf") format("truetype"); }

body {
  font-family: "Roboto Regular", sans-serif;
  font-size: 30px; }

* {
  box-sizing: border-box; }

.container {
  margin: auto auto;
  display: block;
  height: 100%;
  width: 160px; }

.group {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px; }

.hamburger {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
  font-size: 0;
  background-color: #fff;
  color: #ccc;
  box-shadow: none;
  border: none;
  border-radius: unset;
  cursor: pointer; }
  .hamburger:focus {
    outline: none; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 8px;
    top: 46px;
    left: 18px;
    right: 18px;
    background-color: grey; }
    .hamburger span::before, .hamburger span::after {
      position: absolute;
      display: block;
      height: 8px;
      width: 100%;
      background-color: grey;
      content: ""; }
    .hamburger span::before {
      top: -20px; }
    .hamburger span::after {
      bottom: -20px; }
  .hamburger.animate__X span {
    transition: background 0.1s linear; }
    .hamburger.animate__X span::before, .hamburger.animate__X span::after {
      transition-duration: 0.3s;
      transition-delay: 0s; }
    .hamburger.animate__X span::before {
      transition-property: top, transform; }
    .hamburger.animate__X span::after {
      transition-property: bottom, transform; }
  .hamburger.animate__X.is-active span {
    background: none; }
    .hamburger.animate__X.is-active span::before, .hamburger.animate__X.is-active span::after {
      transition-delay: 0s; }
    .hamburger.animate__X.is-active span::before {
      top: 0;
      transform: rotate(45deg); }
    .hamburger.animate__X.is-active span::after {
      bottom: 0;
      transform: rotate(-45deg); }
