@import "hamburger-variables";

.container {
    margin: auto auto;
    display: block;
    height: 100%;
    width: 160px;
  }
  
  .group {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
  }
  
  .hamburger {
    display: block;
    position: relative;
  
    margin: 0;
    padding: 0;
    height: $button-height;
    width: $button-width;
    font-size: 0;
  
    background-color: $background-color;
    color: #ccc;
  
    box-shadow: none;
    border: none;
    border-radius: unset;
  
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  
    span {
      display: block;
      position: absolute;
  
      height: $bar-thickness;
      top: ($button-height/2) - ($bar-thickness/2);
      left: $button-left-right-padding;
      right: $button-left-right-padding;
      background-color: $bar-color;
  
      &::before,
      &::after {
        position: absolute;
        display: block;
  
        height: $bar-thickness;
        width: 100%;
  
        background-color: $bar-color;
        content: "";
      }
  
      &::before {
        top: -$bar-thickness -$button-bar-space;
      }
  
      &::after {
        bottom: -$bar-thickness -$button-bar-space;
      }
    }
  
    &.animate__X {
      span {
        transition: background 0.1s linear;
  
        &::before,
        &::after {
          transition-duration: 0.3s;
          transition-delay: 0s;
        }
  
        &::before {
          transition-property: top, transform;
        }
  
        &::after {
          transition-property: bottom, transform;
        }
      }
  
      &.is-active {
        span {
          background: none;
  
          &::before,
          &::after {
            transition-delay: 0s;
          }
  
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
  
          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }