@import "fonts";
@import "_variables";
@import "_general";
@import "_common";
@import "tracking-form";
@import "tracking-info";

header {
  top: 0;
  background-color: $generalBg;
  height: 200px;
  position: fixed;
  border-bottom: 1px solid $border;
}

main {
  margin-top: 200px;
  
  aside {
    width: 21.1%;
    border-right: none;
  }

}

