@import "_variables";
.--tracking-info {
    border-bottom: 1px solid $border;

    .img__wrap {
        box-sizing: border-box;
        margin-right: 10px;
        width: 31px;

        img {
            width: 100%;
        }
    }

    nowrp {
        white-space: nowrap;
    }

    .general__info {
        padding: 29px 23px 40px;
        border-bottom: 1px solid $border;

        .--mobile{
            display: none;
        }

        &:first-child {
            border-top: none;
        }

        &:last-child {
            border-bottom: none;
        }

        .client__info {
            display: block;
            text-align: left;

            font-size: 22px;
            font-weight: 400;

            margin: 0 auto 31px 0;

            .full__name {
                margin-bottom: 5px;
            }
        }

        .delivery__info {
            box-sizing: border-box;
            display: flex;          
            width: 100%;
            margin-top: 21px;
            color: #000;
            text-decoration: none;
        }

        .delivery__info__extended {
            margin-left: 5px;
            p {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    data {
        text-transform: uppercase;
    }

    .route__info {
        padding: 25px 28px;
        font-size: 16px;
        border-bottom: 1px solid $border;

        .route__number {
            font-weight: 700;
            text-transform: uppercase;
        }

        .delivery__type {
            margin: 15px 0 10px;
        }

        .from-to-blocks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0;

            .from__to {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                width: calc(50% - 10px);
                padding: 10px 5px 15px 15px;
                text-decoration: none;
                border: 1px solid $border;
                background-color: $generalBg;

                .head {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .head__title {
                        font-weight: 700;
                    }
                }
            }

            .address {
                margin-left: 5px;
            }
        }

        .status__block {
            display: flex;
            flex-direction: column;
            position: relative;

            margin: 20px 0;

            .item {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                position: relative;

                &:last-child {
                    margin: 0;

                    &::after {
                        position: absolute;
                        content: "";
                        height: 50%;
                        border-left: solid 6px $generalBg;
                        margin-left: 12px;
                        top: 50%;
                        z-index: 2;
                    }
                }

                &:first-child {
                    &::after {
                        position: absolute;
                        content: "";
                        height: 50%;
                        border-left: solid 6px $generalBg;
                        margin-left: 12px;
                        bottom: 50%;
                        z-index: 2;
                    }
                }

                .status-icon__wrap {
                    box-sizing: border-box;
                    display: flex;
                    width: 32px;
                    min-width: 32px;
                    background-color: white;

                    img {
                        width: 100%;
                        z-index: 10;
                    }
                }

                .item__info {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 15px;

                    a {
                        margin: 0;
                        height: min-content;
                        color: $generalHover;
                    }

                    .text_with__date {
                        color: $breadcrumbLinkShop;
                    }    
                                       
                }
            }

            &::before {
                position: absolute;
                content: "";
                height: 100%;
                border-left: solid 4px $border;
                margin-left: 14px;

                z-index: 1;
            }
        }

        .pickup__status__info {
            display: flex;
            flex-direction: row;

            margin: 20px 0;

            .status-icon__wrap {
                box-sizing: border-box;
                display: flex;
                width: 32px;
                min-width: 32px;
                background-color: white;

                img {
                    width: 100%;
                    z-index: 10;
                }
            }

            .item__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;

                a {
                    margin: 0;
                    height: min-content;
                    color: $generalHover;
                }

                .text_with__date {
                    color: $breadcrumbLinkShop;                    
                }  
                
            }
        }      
    }

    .extended__status__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        padding: 35px 10px;
        background-color: #e5e5e5;

        .img__wrap{
            display: none;
        }

        h1 {
            width: 100%;
            font-size: 1.4em;
            font-weight: 300;
            text-align: center;
            color: #8f8f8f;
        }

        p {
            font-size: 18px;

            margin: 15px 20% 0;
            text-align: center;
            color: #8f8f8f;

            a {
                white-space: nowrap;
                font-weight: 700;
                text-decoration: none;
                color: #707070;
            }
        }            
    }

    .--done {
        padding-top: 25px;

        h1{
            color: $active;
        }

        .img__wrap {
            display: block;
            width: 74px;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
