@import "fonts";
@import "_variables";
@import "_general";
@import "_common";

.faq-wrap {t pull -u
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 20px 10px;
  @media (max-width: $large-mobile-max) {
    padding-left: unquote("max(#{20px}, env(safe-area-inset-left))");
    padding-right: unquote("max(#{20px}, env(safe-area-inset-right))");
  }
  h1 {
    width: 100%;
    font-size: 1.6em;
    text-transform: uppercase;
  }
  * {
    box-sizing: border-box;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    background-color: $generalBg;
    border: 1px solid $border;
  }

  .tracking-form-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;

    color: #828282;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    background-color: transparent;

    border: none;

    .tracking__input {
      display: flex;
      background-color: transparent;

      input[type="text"] {
        flex-grow: 1;
        margin-right: 20px;

        outline: 0;
        height: 50px;
        padding: 18px 20px 19px;
        border-radius: 0;
        border: 1px solid $border;

        color: #828282;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
      }

      input[type="button"] {
        @extend %yellow-form-button;
      }
    }
  }
}
