$background-color: #fff;
$bar-color: grey;

$button-width: 100px;
$button-height: 100px;
$bar-thickness: 8px;
$button-left-right-padding: 18px;
$button-bar-space: 12px ;
$button-transition-duration: 0.3s;
